{% extends 'base.html' %}

{% block title %}
Check Balance - OurBank
{% endblock %}

{% block content %}
<div class="w-full max-w-lg mx-auto bg-white dark:bg-gray-800 p-8 border border-gray-300 dark:border-gray-700 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-6 text-center">Check Balance</h2>
    <form method="POST" action="{% url 'check_balance' %}">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 dark:text-gray-300 text-sm font-bold mb-2" for="balanceAccount">Account Number</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-gray-900 leading-tight focus:outline-none focus:shadow-outline" id="balanceAccount" type="text" name="balanceAccount" required>
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Check Balance
            </button>
        </div>
    </form>
</div>
{% endblock %}
